<h1>Registrate !</h1>
	
	<%= form_for @user, :class => "form-horizontal" do |f| %>
	<%=render 'shared/error_messages'%>
	<div class="control-group">
		<%= f.label :name ,  :class => "control-label"  %>
		 <div class="controls">
		<%= f.text_field :name ,  :class => "input-xlarge"  %>
		</div>
		<%= f.label :email ,  :class => "control-label"  %>
		<div class="controls">
		<%= f.text_field :email ,  :class => "input-xlarge"  %>	
		</div>
		<%= f.label :password ,  :class => "control-label"  %>
		<div class="controls">
		<%= f.password_field :password ,  :class => "input-xlarge"  %>	
		</div>
		<%= f.label :password_confirmation ,"Cofirmacion", :class => "control-label"  %>
		<div class="controls">
		<%= f.password_field :password_confirmation , :class => "input-xlarge"  %>	
		</div>
		<div class="controls">
			<%= f.submit "Registro!" , :class => 'btn btn-danger' %>
		</div>
		
	</div>
	<% end %>

